<%=render 'layouts/innerpage'%>

  <div class="container page-content ">
    <div class="row">
      <!-- left links -->
      <div class="col-md-3">
        <div class="profile-nav">
          <div class="widget">
            <div class="widget-body">
              <div class="user-heading round">
                <a href="#">
                  <img src="./img/guy-5.jpg" alt="">
                </a>
                <p>
                  <%=current_user.email %>
                </p>

              </div>

              <ul class="nav nav-pills nav-stacked">
                <li class="active">
                  <a href="#"> <i class="fa fa-user"></i> News feed</a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-envelope"></i> Messages
                    <span class="label label-info pull-right r-activity">9</span>
                  </a>
                </li>
                <li>
                  <a href="#"> <i class="fa fa-calendar"></i> Events</a>
                </li>
                <li>
                  <a href="#"> <i class="fa fa-image"></i> Photos</a>
                </li>
                <li>
                  <a href="#"> <i class="fa fa-share"></i> Browse</a>
                </li>
                <li>
                  <a href="#"> <i class="fa fa-floppy-o"></i> Saved</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="widget">
            <div class="widget-body">
              <ul class="nav nav-pills nav-stacked">
                <li>
                  <a href="#"> <i class="fa fa-globe"></i> Pages</a>
                </li>
                <li>
                  <a href="#"> <i class="fa fa-gamepad"></i> Games</a>
                </li>
                <li>
                  <a href="#"> <i class="fa fa-puzzle-piece"></i> Ads</a>
                </li>
                <li>
                  <a href="#"> <i class="fa fa-home"></i> Markerplace</a>
                </li>
                <li>
                  <a href="#"> <i class="fa fa-users"></i> Groups</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end left links -->


      <!-- center posts -->
      <div class="col-md-6">
        <div class="row">
          <!-- left posts-->
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <!-- post state form -->
                <%=form_for(@feed, :html=> {class: "form-horizontal", role: "form"}) do |f|%>
                  <div class="box profile-info n-border-top">
                    <form>
                      <%=f.text_field :post, class: "form-control input-lg p-text-area", placeholder: "Whats in your mind today?", autofocus: true%>
                        <!-- <textarea class="form-control input-lg p-text-area" rows="2" placeholder="Whats in your mind today?"></textarea> -->
                    </form>
                    <div class="box-footer box-form">

                      <%=f.submit class: "btn btn-azure pull-right"%>

                        <ul class="feed-post-form-input">
                          <li>
                            <%=f.radio_button :status, 'only_me'%>
                              <%=f.label :status, 'Only me' %>
                                </i>
                                </a>
                          </li>
                          <li>
                            <%=f.radio_button :status, 'for_all' %>
                              <%=f.label :status, 'public' %>
                          </li>
                          <li>
                            <%=f.radio_button :status, 'friends' %>
                              <%=f.label :status, 'friends' %>
                          </li>

                        </ul>
                    </div>
                    <%end%>
                  </div>
                  <% @feedss.each do |f| %>
                  <div class="box box-widget">
                   <div class="box-header with-border">
                    <div class="box-body" style="display: block;">
                      
                      <p><%= f.post%></p>
                      <p>ID:<%= f.id%></p>
                      <!-- <ul class="feed-post-form-input"> -->
                      <p><%=link_to "[Edit Post]" , edit_feed_path(f)%>,<%=link_to "[Delete post]" , feed_path(f), method: :delete , data: {confirm: "Are you sure"}%></p>
                     
                      
                      <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
                      <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
                      <span class="pull-right text-muted">127 likes - 3 comments</span>
                    </div>
                  </div>
                  </div>
                  <% end %>
                  <!-- end post state form -->


              </div>
            </div>
          </div>
          <!-- end left posts-->
        </div>
      </div>
      <!-- end  center posts -->




      <!-- right posts -->
      <!-- end right posts -->
    </div>
  </div>