<%= render 'layouts/innerpage'%>
	<div class="container page-content">
   	<div class="row">
      	<div class="col">
         	<div class="widget">
            	<div class="table-responsive">
      				<h1 style="color: black;">Listing all Feeds </h1>
						<p>
						 <%= link_to 'create new Feed' , new_feed_path%>
						</p>
            		<table class="table user-list" style="color: black;">
              			<thead>
		                	<tr>
		                  <th><span>Title</span></th>
		                  <th><span>ID</span></th>
		                  <th>&nbsp;</th>
		                </tr>
                			<% @feeds.each do |feed| %>
								<tr>
									<td><%= feed.post%></td>
									<td><%= feed.id%></td>
									<td><%= link_to "[show]" , feed_path(feed)%></td>
									<td><%=link_to "[edit]" , edit_feed_path(feed)%></td>
									<td><%=link_to "[delete]" , feed_path(feed), method: :delete , data: {confirm: "Are you sure"}%></td>
								</tr>
								<%end%>
              			</thead>
           			</table>
              </div>
            </div>
         </div>
      </div>
   </div>



