<!-- Fixed navbar -->
<%=render 'layouts/innerpage'%>
  
     <div class="container page-content">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row">
            <div class="col-md-12">
              <div class="bg-picture" style="background-image:url(<%= asset_path 'cover.jpg' %>)">
                <span class="bg-picture-overlay"></span><!-- overlay -->
                <!-- meta -->
                <div class="box-layout meta bottom">
                  <div class="col-md-6 clearfix">
                    <span class="img-wrapper pull-left m-r-15">
                      <img src="./img/guy-5.jpg" alt="" style="width:64px" class="br-radius">
                    </span>
                    <div class="media-body">
                      <h3 class="text-white mb-2 m-t-10 ellipsis"><%= current_user.first_name %> <%= current_user.last_name %></h3>
                      <h5 class="text-white"><%= current_user.dob %></h5>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="pull-right">
                      <div class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle btn btn-azure" href="#" aria-expanded="false"> Following <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a href="#">Poke</a></li>
                            <li><a href="#">Private message</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Unfollow</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div><!--/ meta -->
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Nav tabs -->
            <ul class="nav nav-pills nav-pills-custom-minimal custom-minimal-bottom profile-tabs">
                <li role="presentation" class="about-me active">
                  <%= link_to "About",  user_path(current_user), remote: true %></li>
                </li>
                
                <li role="presentation" class="find-friends">
                 
                <%#= link_to "Find Friends",  find_friends_users_path, remote: true %></li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Photos</a></li>
                <li><%= link_to "all users" , all_friends_users_path %></li>
            </ul>

              <div class="tab-content">
                <!-- Timeline -->
                <%= render 'users/show' %>
              </div>
          </div>
         <div>

          <p><%#= link_to "Find Friends", users_path %></p>
          </div>
      </div>
   </div>
</div>
