<!DOCTYPE html>
<html>
<head>
  <title>NewProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 	<% if notice %>
	   <p class="notice"><%= notice %></p>
	<% end %>
	<% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

<div>
<%= yield %>
</div>
<div style="color: black;">
	<% if user_signed_in? %>
	  Logged in as <strong><%= current_user.email %></strong>.
		<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
		<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
	<% else %>
			 
	<% end %>
</p>
</div>
</body>
</html>

<script type="text/javascript">
	
// 	new PNotify({
//   text: "Notice that's positioned programmatically in its own stack.",
//   stack: {"dir1": "down", "dir2": "right", "firstpos1": myYPos, "firstpos2": myXPos}
// });


// $(document).ready(function() {
//   $(window).bind('rails:flash', function(e, params) {
//     new PNotify({
//       title: "adsf",
//       text: "asdf adsf padgasresr dafdfadsfodsf dsfdoet",
//       type: "error"
//     });
//   });
// });

 new PNotify({
    title: 'Desktop Notice',
    text: 'If you\'ve given me permission, I\'ll appear as a desktop notification. If you haven\'t, I\'ll still appear as a regular PNotify notice.'
  });
</script>